modules = ["nodejs-20", "python-3.12"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python -m optimizedbackend.main"]

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 8081
externalPort = 80

[workflows]
runButton = "Backend"

[[workflows.workflow]]
name = "Backend"
author = 39988686

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m optimizedbackend.main"
